// This file is intentionally left empty to allow customers to add custom CSS if needed.
html, body {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url('assets/frutas.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
